<h1>Doctor Patient Number App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/request" routerLinkActive="active" ariaCurrentWhenActive="page">Make a request</a></li>
    <li><a routerLink="/results" routerLinkActive="active" ariaCurrentWhenActive="page">View the results</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>